body {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}
header {
  background-image: url(../../resources/images/the-flatiron-building.png);
  color: white;
}
footer{
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
}
p {
  font-weight: normal;
  font-size: 14px;
}
a {
  font-weight: normal;
  color: white;
  font-size: 18px;
}
.main h1{
  font-size: 70px;
  }
